body {
    margin-top: 20px;
    background: #222222;
    color: #fff;
    font-family: Helvetica;
    font-weight: bold;
    text-align:center;
}

h1 {
    letter-spacing: 0.1em;
    color: #f1f1f1
}

.main {
    margin: 0 auto;
}

#game {
    margin: 0 auto;
    padding: 0;
    margin-bottom: 20px;
}

#game > span {
    list-style: none;
    float: left;
    overflow: hidden;
    text-decoration:none;
    width: 22px;
    height: 22px;
    line-height: 21px;
    border: 1px solid #ccc;
    border-right: 1px solid #fff;
    cursor: pointer;
    text-align: center;
    margin: 4px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/
    border-radius: 5px;
    font-size: 20px;
}

/* button div */
#buttons {
  text-align: center;
}

.empty {
  background: #666666;
}

.closed {
  background: #f1f1f1;
  -moz-box-shadow: inset 0 -1px 1px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 0 -1px 1px rgba(0,0,0,0.5);
  box-shadow: inset 0 -1px 1px rgba(0,0,0,0.5);
}

.open {
  background: #f1f1f1;
  color: black;
}

.hit-bomb {
  background: #ff0000;
}

.flag {
  background: #f1f1f1;
  color: red;
}

.bomb {
  background: #f1f1f1;
  color: black;
}

.open1 {
  color: blue
}
.open2 {
  color: green
}
.open3 {
  color: red
}
.open4 {
  color: purple
}
.open5 {
  color: orange
}
.open6 {
  color: aqua
}
.open7 {
  color: pink
}
.open8 {
  color: crimson
}

